.icon-errors {
  width: 11px;
  height: 10px;
  float: right;
  position: relative;
  top: 8px;
  cursor: pointer;
  border-radius: 50%;

  .tooltip {
    background-color: #1C1733;
    position: absolute;
    display: none;
    color: white;
    position: absolute;
    padding: 12px;
    z-index: 20;

    .tooltip-row {
      display: inline-block;
      width: max-content;
    }
  }
}


.eventBody {
  width: 100%;
  font-size: 17px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 5px 0 5px 0;
  border-top: 1px solid #ebeef7;
  min-width: 610px;
}
.clickZone {
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.clickZone * {
  user-select: none;
  -webkit-user-select: none;
}
.properties {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.timestamp {
    color: #7477b0;
    display: inline-block;
}
.name {
    font-weight: bold;
    width: 34.6%;
    display: inline-block;
}
.circle {
    position: relative;
    bottom: 0px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-clip: padding-box;
    margin-right: 10px;
}