.icon-errors {
  width: 11px;
  height: 10px;
  float: right;
  position: relative;
  top: 8px;
  cursor: pointer;
  border-radius: 50%;

  .tooltip {
    background-color: #1C1733;
    position: absolute;
    display: none;
    color: white;
    position: absolute;
    padding: 12px;
    z-index: 20;

    .tooltip-row {
      display: inline-block;
      width: max-content;
    }
  }
}

.event {
  border-bottom: 1px solid #ebeef7;
  .event-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
  }
  .event-body {
    background: #F8F7FD;
    padding: 10px 0 10px 35px;
  }
}
.eventBody {
  width: 100%;
  font-size: 12px;
  height: 40px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-top: 1px solid #ebeef7;
  display: flex;
  align-items: center;
}
.clickZone {
  cursor: pointer;
  padding: 0 15px;
}
.clickZone * {
  user-select: none;
  -webkit-user-select: none;
}

.timestamp {
    color: #7477b0;
    display: inline-block;
}
.name {
    font-weight: bold;
    width: 33%;
    display: inline-block;
}

.circle {
    position: relative;
    bottom: 0px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
    background-clip: padding-box;
    margin-right: 10px;

    &.update {
      width: 6px;
      height: 6px;
      background-color: transparent !important;
      border: 2px solid #ffd500;
    }
}